* {
  text-decoration: none;
  font-family: Inter;
}

label {
  font-size: 1.9em;
  font-weight: bold;
}

.Hover {
  height: 100%;
  color: white;
}

.LogOut {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: red; 
  border: 0;
}

.Hover {
  display: flex;
  padding-left: 25%;
  justify-content: flex-start;
  align-items: center;
}

.Header-Content {
  font-size: 1.5em;
  font-weight: bold;
}

.LogOut:hover {
  color: white;
  opacity: 50%;
  background-color: red;
}

.Hover:hover {
  color: dimgray;
  opacity: 50%;
  background-color: aliceblue;
}

.active {
  background-color: rgb(242, 242, 242);
  color: dimgray;
  opacity: 50%;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.Admin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-style: Italic;
}

.Side-Layer-1 {
  width: 100%;
}

.Side-Layer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
  margin-bottom: 15px;
}

.Sidebar {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #47B5FF;
}

.Navbar {
  padding-right: 50px;
  padding-left: 50px; 
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
}

.Form {
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Background button, input {
  border-radius: 10px;
}

.Background input {
  font-size: 1em;
  padding-left: 3%;
  border: 1px solid black;
}

.Background button {
  background-color: #47B5FF;
  border: 0;
}

.TopUp {
  width: 50%;
  height: 25%;
}

.TopUp input, button {
  height: 30%;
}

.Jual {
  width: 50%;
  height: 50%;
}

.Jual button, input {
  height: 18%;
}

.Providers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Providers button {
  border: 1px solid black;
  background-color: white;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

.Providers button:focus {
  color: white;
  background-color: #47B5FF;
  border: 0;
}

.Riwayat {
  width: 70%;
  height: 60%;
}

.Riwayat table {
  border: 2px solid #47B5FF;
  border-collapse: collapse;
}

.Riwayat tr {
  height: 40px;
}

.Riwayat th {
  color: white;
  background-color: #47B5FF;
  padding: 5px;
}

.Riwayat td {
  border: 2px solid #47B5FF;
  color: black;
  background-color: white;
  padding: 5px;
}

.Pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Pages button {
  color: white;
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

.Background {
  box-shadow: 1px 3px 21px 2px rgba(0,0,0,0.75);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
}

.Navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
}