body {
	background-color:#2ACAB0;
}
h1 {
	color:#FFE0A3;
	margin-left: 20px;
	margin-top: 10px;
	font-family: calibri;
	font-size: 60px;
}
.ht2 {
	color:#FFE0A3;
	margin-bottom: -20px;
	margin-left: 20px;
	font-family: calibri;
	font-size: 40px;
}
.ht1 {
	color:#FFE0A3;
	margin-top: 60px;
	margin-left: 20px;
	font-family: calibri;
	font-size: 40px;
}
.div3 {
	display: inline-block;
}
.div1 {
	background-color: #FFE0A3;
	width: 130px;
	height: 130px;
	padding: 60px;
	margin-left: 20px;
	margin-top: -35px;
	display: inline-block;
}
.div2 {
	border: 2px solid #FFE0A3;
	width: 100px;
	height: 125px;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
}
.firsti {
	background-color: #FFE0A3;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-color: #2ACAB0;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-top: 40px;
	width: 205px;
	color: #2ACAB0;
	text-align: center;
	font-size: 18px;
}
.firsts {
	background-color: #FFE0A3;
	border-width: 0px;
	margin-left: -40px;
	margin-top: 10px;
	width: 205px;
	color: #2ACAB0;
	text-align: center;
	font-size: 18px;
}
.test {
	margin-top: 29px;
	margin-left: 20px;
	width: 90px;
	height: 30px;
	background-color: #2ACAB0;
	color: #FFE0A3;
	border: 0px;
}
.i1 {
	width: 91px;
	margin-top: 35px;
	background-color: #2ACAB0;
	border-width:0px;
	color: #2ACAB0;
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}
.i2 {
	width: 91px;
	margin-top: 35px;
	background-color: #2ACAB0;
	border-width:0px;
	color: #2ACAB0;
	text-align: center;
	font-size: 10px;
	margin-top: -10px;
}
.bt1 {
	margin-top: 29px;
	margin-left: 2px;
	width: 40px;
	height: 20px;
	color: #2ACAB0;
	border: 0px;
	display: inline-block;
	background-color: #FFE0A3;

}
.bt2 {
	margin-top: 29px;
	margin-left: 5px;
	width: 40px;
	height: 20px;
	color: #FFE0A3;
	border: 0px;
	background-color: #2ACAB0;
}