.App, .Heading, .Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Wrapper {
  height: 100%;
  background-color: aqua;
}

.Heading {
  padding: 10px
}

.Pulsa {
  font-size: 3em;
  color: white
}

.Saldo {
  margin-top: 2px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Options {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Inputs {
  width: 10%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.FormTopUp {
  display: flex;
  flex-direction: column;
}

.FormJual {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Row {
  margin-top: 50px;
}

table, th, td {
  border: 1px solid black;
}